        <footer class="text-center mt-5 bg-dark text-white pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>DWWM8B</p>
                    </div>
                    <div class="col-md-4">
                        <p><i>Playlist</i> ♫</p>
                    </div>
                    <div class="col-md-4">
                        <p>BB</p>
                    </div>
                </div>
            </div>
        </footer>